$dark: #212529;
$white:#fff;
$primary:#1a43cc;
$secondary:rgb(#4C4C4C,0.7);
$orange1:#FFF3F0;
$orange2:#FFF9F4;
$gray1:#1D1D1B;
$gray2:rgb(#707070,0.1);
$gray3:#D4D7CB;
$danger:#a90520;
$success:#51a352;
