<header class="ptb-12 box-shadow">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <a class="text-dark size-30 weight-500 text-decoration-none" [routerLink]="['/']">Gateway</a>
            <button type="button" class="btn btn-success text-white ptb-4 max-150 w-100 size-10 border-radius-0"
                (click)="addGateway()">
                <img src="../../../assets/images/plus.svg" alt="" class="add mre-2"> Gateway
            </button>
        </div>
    </div>
</header>